{{>layouts/header}}
    <div>
        {{# id}}
            <h1>{{id}} {{username}} hello! <h1>
        {{/ id}}
        {{^ id}}
            <h1>{{username}} hello! <h1>
        {{/ id}}
    </div>
{{>layouts/footer}}