{{>layouts/header}}
{{#article}}
    <form class="container" action="/articles/{{id}}/update" method="post">
        <div class="mb-3">
            <label class="form-label">제목</label>
            <input type="text" class="form-control" name="title" value="{{title}}">
        </div>
        <div class="mb-3">
            <label class="form-label">내용</label>
            <textarea class="form-control" rows="3" name="content">{{content}}</textarea>
        </div>
        <button type="submit" class="btn btn-outline-success">수정</button>
        <a href="/articles/{{id}}" class="btn btn-outline-primary">돌아가기</a>
        <a href="/articles" class="btn btn-outline-primary">목록</a>
    </form>
{{/article}}
{{>layouts/footer}}